/* Reset default body margin and padding */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;  /* Ensure body fills the entire viewport */
  width: 100%;
  overflow: hidden;  /* Prevent scrollbars */
}

h1{
  text-align: center;
  color: black;
}

.threeDContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Center vertically */
  align-items: center;      /* Center horizontally */
  height: 100vh;            /* Full viewport height */
  width: 100vw;             /* Full viewport width */
  background-color: #ffffff; /* Match the 3D scene background */
  padding: 0;
  margin: 0;
}

.threeDHeader {
  text-align: center;
  color: white;
  margin-bottom: 20px; /* Space between header and scene */
}

